## Chapter 4
### In-chapter exercies
### Michael Blair
#### BIOL 5153

In [2]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print(apes[0])
first_site = conserved_sites[2]
print (first_site)

Homo sapiens
132

In [3]:
chimp_index = apes.index("Pan troglodytes")
print (chimp_index)

1

In [4]:
last_ape = apes[-1]
print (last_ape)

Gorilla gorilla

In [5]:
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
print (lower_ranks)

['class', 'order', 'family']

In [8]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " types of apes.")
apes.append("Pan paniscus")
print("Urgent Update: There are actually " + str(len(apes)) + " types of apes!")

There are 3 types of apes.
Urgent Update: There are actually 4 types of apes!

In [3]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [4]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [5]:
for ape in apes:
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [6]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [8]:
name = "martin"
for character in name:
 print("one character is " + character)

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [9]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [10]:
for number in range(6):
 print(number)

0
1
2
3
4
5

In [11]:
for number in range(3, 8):
 print(number)

3
4
5
6
7

In [12]:
for number in range(2, 14, 4):
 print(number)

2
6
10

In [15]:
file = open("/Users/SiWang-Mu/Dropbox/School/Programming/Assignments/Exercise_files/lists_and_loops/exercises/input.txt")
output = open("/Users/SiWang-Mu/Dropbox/School/Programming/Assignments/p4b_Exercises/p4b_ch04_files/trimmed.txt", "w")
for dna in file:
    last_character_position = len(dna)
    trimmed_dna = dna[14:last_character_position]
    output.write(trimmed_dna)

In [16]:
genomic_dna = open("/Users/SiWang-Mu/Dropbox/School/Programming/Assignments/Exercise_files/lists_and_loops/exercises/genomic_dna.txt").read()
exon_locations = open("/Users/SiWang-Mu/Dropbox/School/Programming/Assignments/Exercise_files/lists_and_loops/exercises/exons.txt")
coding_sequence = ""
for line in exon_locations:
    positions = line.split(',')
    start = int(positions[0])
    stop = int(positions[1])
    exon = genomic_dna[start:stop]
    coding_sequence = coding_sequence + exon
output = open("/Users/SiWang-Mu/Dropbox/School/Programming/Assignments/p4b_Exercises/p4b_ch04_files/coding_sequence.txt", "w")
output.write(coding_sequence)
output.close()